{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <h2>Reset Password</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Reset Password</button>
            </div>
        </form>
    </div>

<a href="{% url 'home' %}">Home</a>
{% endblock content %}
